<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.GoodsMapper">
	 <!-- 상품목록 -->
   <select id="goodsList" resultType="GoodsDTO">
     select gCode,
     		userid,
            gCategory,
            gName,
            gContent,
            gPrice,
            gImage
     from goods
   </select>
   
   <!-- 상품 자세히보기 -->
   <select id="goodsRetrieve" parameterType="string" resultType="GoodsDTO">
     select gCode,
     		userid,
            gCategory,
            gName,
            gContent,
            gPrice,
            gImage
     from goods
     where gCode = #{gCode}
   </select>
</mapper>